<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" routerLink="/home-two"><img src="assets/img/logo.png" alt="Logo"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">

            <li class="nav-item"><a class="nav-link" href="#">ABOUT US</a></li>

            <li class="nav-item"><a class="nav-link" href="#">SERVICES</a></li>

            <li class="nav-item"><a class="nav-link" href="#">PROJECTS</a></li>

            <li class="nav-item"><a class="nav-link" href="#">TESTIMONIALS</a></li>

            <li class="nav-item"><a class="nav-link" href="#">CONTACT US</a></li>
        </ul>
    </div>

    <div class="side-nav">
        <a class="side-nav-right cd-signup" routerLink="/"><i class='bx bx-link-external'></i>SUBSCRIBE</a>
    </div>
</nav>

<div class="two-banner-wrap">
    <div class="two-banner-slider owl-theme owl-carousel">
        <div class="two-banner-area two-banner-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="banner-content">
                            <span>
                              
                                Ginkonursery.com
                            </span>
                            <h1>Let's makes your office stylish</h1>
                            <div class="banner-btn">
                                <a class="cmn-banner-btn" routerLink="/"><i class='bx bx-note'></i> Take a trip</a>
                                <a class="banner-right-btn" routerLink="/"><i class='bx bx-phone-call'></i> Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="two-banner-area two-banner-two">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="banner-content">
                            <span>
                               
                                Ginkonursery.com
                            </span>
                            <h1>Let's makes your office stylish</h1>
                            <div class="banner-btn">
                                <a class="cmn-banner-btn" routerLink="/"><i class='bx bx-note'></i> Take a trip</a>
                                <a class="banner-right-btn" routerLink="/"><i class='bx bx-phone-call'></i> Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>

<div id="about" class="three-about-area five-about-area pb-70">
    <!-- <div class="about-shape">
        <img src="assets/img/home-five/about-shape2.png" alt="About" style="opacity:0.1">
    </div> -->

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="about-img">
                    <img src="assets/img/about1.jpg" alt="About">
                    <img src="assets/img/leaf1.png" alt="About">
                </div>
            </div>

            <div class="col-lg-7">
                <div class="about-content">
                    <div class="one-section-title three-section-title">
                        <span class="sub-title"># ABOUT GINKO</span>
                        <h2>Who We Are</h2>
                    </div>

                    <div class="about-mission">
                        

                        <div class="tab-content">
                            <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="pills-home-tab-two">
                                <p>Ginko Nursery was established in 2017 with
                                    a vision to provide top quality and reliable
                                    landscaping services to clients from all
                                    sectors at competitive prices. Our services
                                    include design-and-build and maintenance.</p>
                                <p>At Ginko, we aim to always provide our
                                    clients guaranteed satisfaction. Our team of
                                    dedicated professionals and subject matter
                                    experts with more than 10 years of experience
                                    in horticulture and project management,
                                    go beyond merely meeting requirements.
                                    It is in our endeavor to achieve results that
                                    will create aesthetic value and an inviting
                                    atmosphere to your environment, which in
                                    turn adds value to your brand. </p>

                                <p>
                                    <span style="font-family:'darling';font-size:30px;vertical-align:middle;">Leaf it to us</span>
                                    , as we say, for your success!</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="services" class="four-expect-area pt-100 pb-70">
    <div class="container">
        <div class="one-section-title three-section-title">
            <span class="sub-title"># WHAT WE DO</span>
            <h2>Our Specialities</h2>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="expect-item" style="padding-top: 35px;">
                    <div class="expect-icon">
                        <img src="../../../assets/img/planting.png" width="44px">
                    </div>
                    <h3>Natural Landscaping</h3>
                    <!-- <a routerLink="/home-four">Read More <i class='bx bx-right-arrow-alt'></i></a> -->
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="expect-item" style="padding-top: 35px;">
                    <div class="expect-icon">
                        <img src="../../../assets/img/lawn-mower.png" width="44px">
                    </div>
                    <h3>Artificial Landscaping</h3>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="expect-item" style="padding-top: 35px;">
                    <div class="expect-icon">
                        <img src="../../../assets/img/landscape.png" width="44px">
                    </div>
                    <h3>Landscape Care and Maintenance</h3>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="expect-item" style="padding-top: 35px;">
                    <div class="expect-icon">
                        <img src="../../../assets/img/plant.png" width="44px">
                    </div>
                    <h3>Plant Nursery</h3>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="expect-item" style="padding-top: 35px;">
                    <div class="expect-icon">
                        <img src="../../../assets/img/plant (1).png" width="44px">
                    </div>
                    <h3>Plant Rental Service</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="one-among-area two-among-area pt-100 pb-70">
    <div class="container">
        <div class="one-section-title">
            <span class="sub-title">WHAT WE HAVE DONE</span>
            
            <div><h2 tooltip="This is to protect the privacy of our clients who do not wish to disclose
             any photo of their projects of private residence." flow="down">Selected Projects (Only)</h2>
            </div>
            
            
        </div>

        <!-- <div>
            <span tooltip="Get Down." flow="down">Down</span>
          </div> -->

        <div class="row">
            <!-- <div class="col-sm-6 col-lg-4">
                <div class="among-item">
                    <div class="among-top">
                        <img src="assets/img/project1.png" alt="Among">
                    </div>
                    <div class="portfolio__text text-center">
                        <div class="portfolio__icon mb-20">
                            <a class="popup-image" href="assets/img/feature/feat1.jpg"><i class="far fa-arrow-right"></i></a>
                        </div>
                        <h3><a href="#">Clinque de skin @ Kan Road</a></h3>
                        <p>Quis autem vel eum iure reprehenderit qui
                            voluptate velit esse quam nihil</p>
                    </div>
                </div>
            </div> -->
            <div class="col-sm-6 col-lg-4">
                <div class="portfolio mb-30" href="#">
                    <div class="portfolio__thumb pos-rel">
                        <img class="img-fluid" src="assets/img/project1.png" alt="">
                    </div>
                    <div class="portfolio__text pos-abl text-center">
                        <h3><a href="#">Clinque de skin @ Kan Road</a></h3>
                        <div class="portfolio__icon">
                            <a class="" href=""><i
                                    class="bx bx-right-arrow-alt"></i></a>
                        </div>
                        
                
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="portfolio mb-30" href="#">
                    <div class="portfolio__thumb pos-rel">
                        <img class="img-fluid" src="assets/img/project2.jpg" alt="">
                    </div>
                    <div class="portfolio__text pos-abl text-center">
                        <h3><a href="#">Panhtwa shopping mall at Taundwingyi city</a></h3>
                        <div class="portfolio__icon">
                            <a class="" href=""><i
                                    class="bx bx-right-arrow-alt"></i></a>
                        </div>
                        
                
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="portfolio mb-30" href="#">
                    <div class="portfolio__thumb pos-rel">
                        <img class="img-fluid" src="assets/img/project3.jpg" alt="">
                    </div>
                    <div class="portfolio__text pos-abl text-center">
                        <h3><a href="#">Royal Taunggyi Hotel</a></h3>
                        <div class="portfolio__icon">
                            <a class="" href=""><i
                                    class="bx bx-right-arrow-alt"></i></a>
                        </div>
                        
                
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="portfolio mb-30" href="#">
                    <div class="portfolio__thumb pos-rel">
                        <img class="img-fluid" src="assets/img/project4.jpg" alt="">
                    </div>
                    <div class="portfolio__text pos-abl text-center">
                        <h3><a href="#">Thai 47 at 47 Street</a></h3>
                        <div class="portfolio__icon">
                            <a class="" href=""><i
                                    class="bx bx-right-arrow-alt"></i></a>
                        </div>
                        
                
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="portfolio mb-30" href="#">
                    <div class="portfolio__thumb pos-rel">
                        <img class="img-fluid" src="assets/img/project5.jpg" alt="">
                    </div>
                    <div class="portfolio__text pos-abl text-center">
                        <h3><a href="#">Cafe amazon @ Sule Center</a></h3>
                        <div class="portfolio__icon">
                            <a class="" href=""><i
                                    class="bx bx-right-arrow-alt"></i></a>
                        </div>
                        
                
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="portfolio mb-30" href="#">
                    <div class="portfolio__thumb pos-rel">
                        <img class="img-fluid" src="assets/img/project6.jpg" alt="">
                    </div>
                    <div class="portfolio__text pos-abl text-center">
                        <h3><a href="#">Junction Square</a></h3>
                        <div class="portfolio__icon">
                            <a class="" href=""><i
                                    class="bx bx-right-arrow-alt"></i></a>
                        </div>
                        
                
                    </div>
                </div>
            </div>
            <p class="text-center" style="cursor: pointer;
            font-size: 18px;
            font-weight: 600;"><img src="../../../assets/img/leaf.png" width="30px;" style="margin-top:-10px;margin-right: 13px;">See more</p>
        </div>
    </div>
</div>

<div class="one-counter-area three-counter-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-12">
                <div class="counter-item"> 
                    <h4>Need Consultations?</h4>
                    <p style="margin-bottom:25px;">We Are Always With You Contact With Us.</p>
                    <div class="banner-btn">
                        <a class="cmn-banner-btn" routerLink="/"><i class='bx bx-phone-call'></i> Contact Us</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<section class="two-lover-area pt-100 pb-70">
    <div class="container">
        <div class="one-section-title">
            <span class="sub-title">COUSTOMER FEEDBACKS</span>
            <h2>What People Say</h2>
        </div>

        <div class="four-step-slider owl-theme owl-carousel">

            <div class="step-item">
                <div class="lover-item">
                    <ul class="align-items-center">
                        <li>
                            <div class="lover-img">
                                <img src="assets/img/user.jpg" alt="Lover">
                                <i class='bx bxs-quote-alt-left'></i>
                            </div>
                        </li>
                        <li>
                            <div class="lover-content ">
                                <h3>Donney Jon</h3>
                                <!-- <span>Perisian Org</span> -->
                                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt iusto nostrum quibusdam dolores consectetur voluptates beatae 
                                </p>
                            
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="step-item">
                <div class="lover-item">
                    <ul class="align-items-center">
                        <li>
                            <div class="lover-img">
                                <img src="assets/img/user.jpg" alt="Lover">
                                <i class='bx bxs-quote-alt-left'></i>
                            </div>
                        </li>
                        <li>
                            <div class="lover-content">
                                <h3>Donney Jon</h3>
                                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt iusto nostrum quibusdam dolores consectetur voluptates beatae 
                                </p>
                            
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="step-item">
                <div class="lover-item">
                    <ul class="align-items-center">
                        <li>
                            <div class="lover-img">
                                <img src="assets/img/user.jpg" alt="Lover">
                                <i class='bx bxs-quote-alt-left'></i>
                            </div>
                        </li>
                        <li>
                            <div class="lover-content">
                                <h3>Donney Jon</h3>
                                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt iusto nostrum quibusdam dolores consectetur voluptates beatae 
                                </p>
                            
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>