<app-header></app-header>
<app-inner-banner></app-inner-banner>

<div class="one-among-area two-among-area pt-100 pb-70">
    <div class="container">
        <div class="one-section-title">
            <span class="sub-title">What We Do</span>
            <h2>Our Specialities</h2>
            </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="among-item">
                    <div class="among-top">
                        <img src="assets/img/home-two/among1.png" alt="Among">
                        <div class="among-icon">
                            <i class='bx bxs-badge-dollar'></i>
                        </div>
                    </div>

                    <div class="among-bottom text-center">
                        <h3>Natural Landscaping</h3>
                        <p>Gain home equity by paying sit amet seeturlit sed dolor se equity </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="among-item">
                    <div class="among-top">
                        <img src="assets/img/home-two/among2.png" alt="Among">
                        <div class="among-icon">
                            <i class='bx bx-bulb'></i>
                        </div>
                    </div>

                    <div class="among-bottom text-center">
                        <h3>Artificial Landscaping</h3>
                        <p>Your home equity by paying sit amet seeturlit sed dolor se equity </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="among-item">
                    <div class="among-top">
                        <img src="assets/img/home-two/among3.png" alt="Among">
                        <div class="among-icon">
                            <i class='bx bx-money'></i>
                        </div>
                    </div>

                    <div class="among-bottom text-center">
                        <h3>Landscape Care and Maintenance</h3>
                        <p>Money rate equity by paying sit amet seeturlit sed dolor se equity </p>
                    </div>
                </div>
            </div>

        

        </div>

        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="among-item">
                    <div class="among-top">
                        <img src="assets/img/home-two/among4.png" alt="Among">
                        <div class="among-icon">
                            <i class='bx bx-user'></i>
                        </div>
                    </div>

                    <div class="among-bottom text-center">
                        <h3>Plant Nursery</h3>
                        <p>Inquri home equity by paying sit amet seeturlit sed dolor se equity </p>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-lg-4">
                <div class="among-item">
                    <div class="among-top">
                        <img src="assets/img/home-two/among5.png" alt="Among">
                        <div class="among-icon">
                            <i class='bx bx-message-alt-detail'></i>
                        </div>
                    </div>

                    <div class="among-bottom text-center">
                        <h3>Plant Rental Service</h3>
                        <p>Divided home equity by paying sit amet seeturlit sed dolor se equity </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>