<app-header></app-header>
<section class="page-title-area pos-rel" style="background-image: url(../../../../assets/img/banner2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="page-title text-center pt-180">
                    <h2>Our Projects</h2>
                    <div class="breadcrumb-list text-center">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li>All Projects</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="one-among-area two-among-area">
    <div class="container">
        <div class="one-section-title">
            <span class="sub-title">WHAT WE HAVE DONE</span>
            
            <div><h2 tooltip="This is to protect the privacy of our clients who do not wish to disclose
             any photo of their projects of private residence." flow="down">Selected Projects (Only)</h2>
            </div>
            
            
        </div>

        <!-- <div>
            <span tooltip="Get Down." flow="down">Down</span>
          </div> -->

        <div class="row">
            <!-- <div class="col-sm-6 col-lg-4">
                <div class="among-item">
                    <div class="among-top">
                        <img src="assets/img/project1.png" alt="Among">
                    </div>
                    <div class="portfolio__text text-center">
                        <div class="portfolio__icon mb-20">
                            <a class="popup-image" href="assets/img/feature/feat1.jpg"><i class="far fa-arrow-right"></i></a>
                        </div>
                        <h3><a href="#">Clinque de skin @ Kan Road</a></h3>
                        <p>Quis autem vel eum iure reprehenderit qui
                            voluptate velit esse quam nihil</p>
                    </div>
                </div>
            </div> -->
            <app-projects>
            </app-projects>

        
            </div>
    </div>
</div>


<app-footer></app-footer>