<!-- <div class="slider-container">
    <div class="close" (click)="closePopup()">&times;</div>
    <owl-carousel-o [options]="customOptions" id="property_slide_2" #owlCar>
        <ng-template carouselSlide *ngFor="let property_images of property_image_;let i = index" [id]="property_images.RefID + i">
            <img [lazyLoad]="linkAddress + property_images?.ImageURL" [defaultImage]="defaultLoadingImage" [errorImage]="errorImage" alt="" class="slider-image">
        </ng-template>
      
    </owl-carousel-o>
</div> -->